.pmContainer
{ 
    display: flex;
}
.plContainer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 25%;
    a{
        color:white;
        text-decoration: none;
        margin: 5px auto;
    }
}
.prContainer{
    width: 75%;
}